* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right #f1d8c9, #f2c3a7);
}

main {
    background-color: white;
    /*borda arredondada */
    border-radius: 10px;
    /*sombra da pág */
    box-shadow: 5px 5px 15px rgba(136, 109, 93, 0.616);
    /*largura*/
    width: 600px;
    /*sempre centralizar o texto no meio da pág */
    margin: auto;
}

h1 {
    color: #f39209;
    /* centralizar o texto */
    text-align: center;
    text-shadow: 1px 1px 2px rgb(129, 77, 5, 0.726);
}

h2 {
    color: #125189;
}

p {
    text-align: justify;
}